body{
    display: grid;
    grid-template-areas: "main""control";
    grid-template-columns: 100%;
    grid-template-rows: 80vh 20vh;
    margin: 0;
}
#main{
    background-color: rgb(77, 77, 77);
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#control{
    background-color: rgb(43, 43, 43);
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "one two";
    border-top: 3px solid black;
    grid-area: control;
}
#card{
    border: black 2px solid;
    height: 300px;
    width: 480px;
    z-index: -2;
}
#child{
    position: absolute;
    height: 300px;
    width: 480px;
    color: white;
}
#tilt {
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    background-size: 100%;
    background-repeat: no-repeat;
    user-select: none;
  }
  
  #tilt:hover {
    box-shadow: 0px 0px 30px rgba(255, 254, 254, 0.6);
    cursor: pointer;
  }
#numberCont{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dejtah3{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#imieh3{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
#tlo{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
#logo{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 30px;
}
#inputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.chosing{
    width: 120px;
    height: 75px;
    border:1px black solid;
}
#parentChoose{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#back{
    position: absolute;
    border: 2px white solid;
    z-index: -20;
    height: 300px;
    width: 480px;
    user-select: none;
}